@import url('https://fonts.googleapis.com/css?family=Bungee|Open+Sans:400,600,700');

/* Général */
.active {
    display: flex !important;
}

body {
    font-family: 'Open Sans', sans-serif;
}

iframe {
    display: none;
}

/* Accueil menu */
#home_menu {
    display: none;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h1 {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

h2 {
    font-weight: 700;
}

#play_game {
    width: 100px;
}

#parameters {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

#parameters>div {
    margin: 0 20px;
}

/* Zone de jeu */
#play_area {
    display: none;
    position: relative;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h3 {
    top: 0;
    left: 0;
    z-index: 2;
    position: fixed;
    margin: 1rem 1rem;
}

#start_music {
    z-index: 2;
    cursor: pointer;
}

#loser_area,
#players_area,
#chairs_area {
    position: absolute;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    top: 50%;
    left: 50%;
}

#loser_area > img,
#players_area > img,
#chairs_area > img {
    position: absolute;
    width: 100px;
    top: 150px;
    left: 150px;
}

@keyframes rotatePlayers {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Pop-up finale */
#info {
    justify-content: center;
    animation: info_coming 1s ease-out forwards;
    display: none;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 3;
}

#info_frame {
    animation: info_frame_coming 1s ease-out forwards;
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 430px;
}

#info_frame > p {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

@keyframes info_coming {
    from {
        background-color: transparent;
    }

    to {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

@keyframes info_frame_coming {
    from {
        bottom: -460px;
    }

    to {
        bottom: 300px;
    }
}