@import url('https://fonts.googleapis.com/css?family=Bungee|Roboto:500,700,900');


/*------------------------------
Events
------------------------------*/
.active {
    display: flex !important;
}

.animationRotatePlayers {
    animation: rotatePlayers 5s linear infinite;
}

.animationPaused {
    animation-play-state: paused;
}

.noCursor {
    cursor: none;
}

.chairChosen {
    opacity: 0.5;
}

.above {
    z-index: 1;
}

.invisible {
    visibility: hidden;
}

/*------------------------------
General
------------------------------*/
html {
    font-size: 14px;
}

body {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

#music_player {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

#home_menu,
#play_menu {
    align-items: center;
    background-color: #a2130a;
    background-image: url("../images/fond_soleil.svg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border: 1rem solid white;
    display: none;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 2rem;
}


/*------------------------------
Design elements
------------------------------*/
button {
    background-color: #8a100b;
    border: white solid 2px;
    box-shadow: 0 9px white;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 19px;
    margin-top: 10px;
    min-height: 60px;
    min-width: 120px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    z-index: 2;
}

button:hover,
button:active {
    cursor: pointer;
    background-color: #730d09;
    box-shadow: 0 5px white;
    transform: translateY(4px);
}

#replay_game {
    background-color: #fff;
    border: #8a100b solid 2px;
    box-shadow: 0 9px #8a100b;
    color: #8a100b;
}

#replay_game:hover,
#replay_game:active {
    background-color: #fff;
    border: #730d09 solid 2px;
    box-shadow: 0 5px #730d09;
    color: #730d09;
}


/*------------------------------
Home menu
------------------------------*/
h1 {
    font-family: 'Bungee', cursive;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
}

h1 + p {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

/*----Parameters----*/
#parameters {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

#parameters > div {
    margin: 0 20px;
    text-align: center;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    background-color: #a2130a;
    width: 100%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #a2130a;
    border: 2px white solid;
    cursor: pointer;
    margin-top: -14px;
    width: 16px;
    height: 36px;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    background: #a2130a;
    border: 3px white solid;
    border-radius: 0;
    cursor: pointer;
    margin-top: -14px;
    width: 16px;
    height: 36px;
}

input[type=range]::-webkit-slider-runnable-track {
    background: white;
    cursor: pointer;
    width: 100%;
    height: 8.4px;
}

input[type=range]::-moz-range-track {
    background: white;
    cursor: pointer;
    width: 100%;
    height: 8.4px;
}

.avatar {
    display: none;
}

.avatar + label {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    box-sizing: border-box;
    display: inline-block;
    width: 120px;
    height: 120px;
}

.avatar:hover + label {
    cursor: pointer;
}

#baptiste:checked + label,
#baptiste:hover + label {
    background-image: url(../images/baptiste_head.png);
}

#clara:checked + label,
#clara:hover + label {
    background-image: url(../images/clara_head.png);
}

#lucas:checked + label,
#lucas:hover + label {
    background-image: url(../images/lucas_head.png);
}

#baptiste + label {
    background-image: url(../images/baptiste_head_noBorder.png);
}

#clara + label {
    background-image: url(../images/clara_head_noBorder.png);
}

#lucas + label {
    background-image: url(../images/lucas_head_noBorder.png);
}


/*------------------------------
Play menu
------------------------------*/
h2 {
    font-family: 'Bungee', cursive;
    font-weight: normal;
    margin: 1rem 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

h2:hover {
    cursor: pointer;
    transform: translateY(2px);
}

#play_area {
    position: absolute;
}

#loser_area,
#players_area,
#chairs_area {
    position: absolute;
    margin-left: -200px;
    margin-top: -200px;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
}

#loser_area > img,
#players_area > img,
#chairs_area > img {
    position: absolute;
    top: 150px;
    left: 150px;
    width: 100px;
}

#chairs_area > img {}

#chairs_area > img:hover {
    transition: all .2s ease-in-out;
    opacity: 0.5;
    cursor: pointer;
}

@keyframes rotatePlayers {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*----Popup info----*/
#info {
    align-items: center;
    animation: info_coming 1s ease-out forwards;
    display: none;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 3;
}

#info_frame {
    animation: info_frame_coming 1s ease-out forwards;
    background-color: #fff;
    box-shadow: 0 12px #8a100b;
    box-sizing: border-box;
    margin: 20px;
    padding: 1.2rem;
    text-align: center;
    width: 430px;
}

#info_frame > p {
    color: #a2130a;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.8rem 0;
    text-align: center;
}

@keyframes info_coming {
    from {
        background-color: transparent;
    }

    to {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

@keyframes info_frame_coming {
    from {
        transform: translateY(-100vw);
    }

    to {
        transform: translateY(0);
    }
}


/*------------------------------
Responsive
------------------------------*/
@media (max-width: 768px) {

    #home_menu,
    #play_menu {
        border: 0.5rem solid white;
        padding: 1rem;
    }

    #parameters {
        flex-direction: column;
    }

    #play_area {
        transform: scale(0.75);
    }
}